{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react|react-dom)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "",
    "^@/styles/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.mts", "*.cts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.mjs", "*.cjs"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
