# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Generated
.tanstack/
routeTree.gen.ts

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
